.categories {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: rgb(176, 253, 230);
  height: 100vh;
  width: 100vw;
  padding: 7rem 1rem 1rem 1rem;
}

.categories--link {
  text-decoration: none;
}
